[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/openzeppelin-solidity"]
	path = lib/openzeppelin-solidity
	url = git@github.com:livnev/openzeppelin-solidity.git
[submodule "lib/ds-token"]
	path = lib/ds-token
	url = https://github.com/dapphub/ds-token
